body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./components/img/fond.jpg');
}

.App {
    background-color: rgba(0, 0, 0, 0.5);
}